<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951275565599-5uhk3asd2v0lef9usade4dt7q1jomh8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951275565599-5uhk3asd2v0lef9usade4dt7q1jomh8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAUkM-fsM8N5kpy5sU7iL7Me9Nb-ty-J6E</string>
	<key>GCM_SENDER_ID</key>
	<string>951275565599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evgeny.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmediaproject-bcdd7</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaproject-bcdd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951275565599:ios:fffd7578c2bd82af69db2a</string>
</dict>
</plist>